<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.calog">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Fitness.ExerciseActivity" />
        <activity android:name=".Fitness.SearchFitnessActivity" />
        <activity android:name=".Fitness.FitnessActivity" />
        <activity android:name=".CalendarActivity" />
        <activity android:name=".Diet.FoodSearchActivity" />
        <activity android:name=".Diet.DietActivity" />
        <activity android:name=".signUp.MainJoinActivity" />
        <activity android:name=".signUp.JoinActivity" />
        <activity android:name=".Drinking.TestActivity" />
        <activity android:name=".Drinking.DrinkingActivity" />
        <activity android:name=".Drinking.DrinkingCheckActivity" />
        <activity android:name=".Sleeping.SleepingActivity" />
        <activity android:name=".Sleeping.SleepCheckActivity" />
        <activity android:name=".WordCloud.WordCloudActivity" />
        <activity android:name=".WordCloud.WordCloudWebViewActivity" />
        <activity
            android:name="com.soundcloud.android.crop.CropImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".MainHealthActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path" />
        </provider>
    </application>

</manifest>