<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.calog">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Fitness.MyLocationActivity"></activity>
        <activity android:name=".Fitness.MyFitnessListActivity" />
        <activity
            android:name=".Fitness.ExerciseActivity"
            android:label="@string/title_activity_exercise_activity" />
        <activity android:name=".Fitness.SearchFitnessActivity" />
        <activity android:name=".Fitness.FitnessActivity" />
        <activity android:name=".CalendarActivity" />
        <activity android:name=".Diet.FoodRegisterActivity" />
        <activity android:name=".Diet.DietActivity" />
        <activity android:name=".Diet.DietDailyDetailActivity" />
        <activity android:name=".signUp.MainJoinActivity" />
        <activity android:name=".signUp.JoinActivity" />
        <activity android:name=".Drinking.DrinkingActivity" />
        <activity android:name=".Drinking.DrinkingCheckActivity" />
        <activity android:name=".Sleeping.SleepingActivity" />
        <activity android:name=".Sleeping.DecibelCheck.SleepCheckActivity" />
        <activity android:name=".WordCloud.WordCloudActivity" />
        <activity android:name=".WordCloud.WordCloudWebViewActivity" />
        <activity
            android:name="com.soundcloud.android.crop.CropImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".MainHealthActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />

            <!--
            The API key for Google Maps-based APIs is defined as a string resource.
            (See the file "res/values/google_maps_api.xml").
            Note that the API key is linked to the encryption key used to sign the APK.
            You need a different API key for each encryption key, including the release key that is used to
            sign the APK for publishing.
            You can define the keys for the debug and release targets in src/debug/ and src/release/.
       -->
            <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="@string/google_maps_key" />
        </activity>

        <receiver android:name=".Sleeping.Alarm_Reciver" />

        <service
            android:name=".Sleeping.RingtonePlayingService"
            android:enabled="true"></service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path" />
        </provider>
    </application>

</manifest>